.nav-div {
    display: flex;
    justify-content: space-between;
    padding: 2.875em 8.125em;
}

.nav-div h2 {
    font-size: 1.875rem;
}

.links-div a {
    font-size: 1.875rem;
    font-weight: 500;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.links-a {
    margin: 0 3.26em;
}

.github-logo-nav {
    margin-right: 2em;
}

.logo-icon {
    margin-right: 0.8125em;
}

.nav-div a {
    text-decoration: none;
    color: white;
}

/* Navbar responsive */
@media (max-width: 1500px) {

    .nav-div {
        padding: 2.16em 4em;
    }
}

/* Laptop */
@media (max-width: 1200px) {

    .nav-div {
        padding: 2.16em 3em;
    }

    .nav-div h2 {
        font-size: 1.4rem;
    }
    
    .links-div a {
        font-size: 1.4rem;
    }

    .logo-icon {
        width: 37px;
    }

    .navbar-icons img {
        width: 24px;
    }
}

@media (max-width:1000px) {

    .nav-div {
        padding: 2.16em 2em;
    }

    .nav-div h2 {
        font-size: 1.2rem;
    }
    
    .links-div a {
        font-size: 1.2rem;
    }

    .logo-icon {
        width: 28px;
    }

    .navbar-icons img {
        width: 18px;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .nav-div {
        display: none;
    }
}