#technologies h1{
    font-size: 4rem;
    margin-bottom: 2em;
}

.tech-level-div {
    justify-content: space-between;
    width: 100%;
    padding: 0 4.125em 0 1.56em;
}


.tech-level-div h2 {
    font-size: 2.25rem;
}

.tech-level-div h3 {
    font-size: 1.5rem;
}

.linear-border-div {
    width: 62em;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
}

.technologies-border-div {
    background-color: #162950;
}

.border-divs {
    height: 2em;
    border-radius: 5.2em;
}

.technologies-div {
    margin-left: 6.75em;
    margin-bottom: 3.44em;
}

#technologies > h2 {
    font-size: 3rem;
    margin: 2.77em 0 1.7em 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.89em;
    column-gap: 13.2%;
    padding-left: 4.25em;
}

li::marker {
    font-size: 2.25rem;
}

ul h3 {
    font-size: 2.25rem;
}

/* Additional Tech text */
@media (max-width: 1650px) {
    
    #technologies > h2 {
        font-size: 2.25rem;
    }

    ul h3 {
        font-size: 1.7rem;
    }
}

/* Laptop */
@media (max-width: 1200px) {

    #technologies h1{
        font-size: 3rem;
    }

    .tech-level-div h2 {
        font-size: 1.7rem;
    }

    .tech-level-div h3 {
        font-size: 1.1rem;
    }

    .tech-level-div {
        justify-content: space-between;
        width: 100%;
        padding: 0 3.1em 0 1.17em;
    }

    #technologies > h2 {
        font-size: 2.25rem;
    }

    ul {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30vw;
    }
    
    .technologies-div {
        margin-left: 2.5em;
        margin-bottom: 2.6em;
    }
}

@media (max-width: 942px) {

    ul {
        column-gap: 20vw;
    }
}

/* Tablet */
@media (max-width: 768px) {

    #technologies h1{
        font-size: 2.25rem;
        margin-bottom: 1em;
    }

    .tech-level-div h2 {
        font-size: 1.275rem;
    }

    .tech-level-div h3 {
        font-size: 0.825rem;
    }

    .tech-level-div {
        justify-content: space-between;
        width: 100%;
        padding: 0 2.3em 0 0.9em;
    }

    #technologies > h2 {
        font-size: 1.7rem;
    }

    .technologies-div {
        margin: 0;
        margin-bottom: 2.58em;
    }

    ul {
        grid-template-columns: 1fr;
    }

    ul h3 {
        font-size: 1.275rem;
    }
}

/* Mobile */
@media (max-width: 580px) {

    #technologies h1{
        font-size: 1.7rem;
    }

    .tech-level-div h2 {
        font-size: 1rem;
    }

    .tech-level-div h3 {
        font-size: 0.6rem;
    }

    .tech-level-div {
        justify-content: space-between;
        width: 100%;
        padding: 0 1.7em 0 0.7em;
    }

    #technologies > h2 {
        font-size: 1.3rem;
    }

    .technologies-div {
        margin-bottom: 2em;
    }
    
    ul h3 {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {

    #technologies > h2 {
        inline-size: 80%;
    }
    
}